<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        <h1>{{title}}</h1>
        <p>{{title}}</p>
        <img class="portrait" src="/img/afzal_profile.jpg">
        </div>
            {{>footer}}
    </body>
</html>